.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: .375rem !important;
}

.mt-2 {
  margin-top: .75rem !important;
}

.mt-4 {
  margin-top: 2.25rem !important;
}

.mt-5 {
  margin-top: 4.5rem !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: .375rem !important;
}

.me-2 {
  margin-right: .75rem !important;
}

.me-3 {
  margin-right: 1.5rem !important;
}

.me-4 {
  margin-right: 2.25rem !important;
}

.me-10 {
  margin-right: 12rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: .375rem !important;
}

.mb-2 {
  margin-bottom: .75rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 2.25rem !important;
}

.mb-5 {
  margin-bottom: 4.5rem !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: .375rem !important;
}

.ms-2 {
  margin-left: .75rem !important;
}

.ms-3 {
  margin-left: 1.5rem !important;
}

.ms-4 {
  margin-left: 2.25rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-4 {
  padding: 2.25rem !important;
}

.py-3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-4 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
}

.py-5 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-2 {
  padding-top: .75rem !important;
}

.pt-3 {
  padding-top: 1.5rem !important;
}

.pt-4 {
  padding-top: 2.25rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: .375rem !important;
}

.pe-2 {
  padding-right: .75rem !important;
}

.pe-4 {
  padding-right: 2.25rem !important;
}

.pe-5 {
  padding-right: 4.5rem !important;
}

.pe-6 {
  padding-right: 6rem !important;
}

.pe-7 {
  padding-right: 7.5rem !important;
}

.pe-10 {
  padding-right: 12rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: .375rem !important;
}

.pb-2 {
  padding-bottom: .75rem !important;
}

.pb-4 {
  padding-bottom: 2.25rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-2 {
  padding-left: .75rem !important;
}

.ps-3 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 4.5rem !important;
}

.ps-6 {
  padding-left: 6rem !important;
}

.ps-7 {
  padding-left: 7.5rem !important;
}

@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-2 {
    margin-bottom: 0.75rem !important;
  }
}

@media (min-width: 992px) {
  .p-lg-4 {
    padding: 2.25rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-1 {
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-5 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

@media (min-width: 992px) {
  .ps-lg-5 {
    padding-left: 4.5rem !important;
  }
}

