#idfooterhome.active {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#idfooterhowtouse.active {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#idfooterdemo.active {
    text-decoration: underline;
    text-underline-offset: 10px;
}