/* form styles */

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

/* Hide all except first fieldset */

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform fieldset .form-card {
  text-align: left;
  color: #9E9E9E;
}

#msform input, #msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid skyblue;
  outline-width: 0;
}

/* Blue Buttons */

#msform .action-button {
  width: 100px;
  background: skyblue;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/* Previous Buttons */

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/* progressMSForm */

#progressMSForm {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressMSForm .active {
  color: #000000;
}

#progressMSForm li {
  list-style-type: none;
  font-size: 12px;
  width: 30%;
  float: left;
  position: relative;
}

/* Icons in the progressMSForm */

#progressMSForm #account:before {
  font-family: FontAwesome;
  content: "\f023";
}

#progressMSForm #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressMSForm #payment:before {
  font-family: FontAwesome;
  content: "\f09d";
}

#progressMSForm #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

/* progressMSForm before any progress */

#progressMSForm li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  z-index: 100;
}

/* progressMSForm connectors */

#progressMSForm li:after {
  content: '';
  width: 120%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 0;
}

/* Color number of the step and the connector before it */

#progressMSForm li.active:before, #progressMSForm li.active:after {
  background: var(--bs-link-color);
}

/* Imaged Radio Buttons */

#progressMSForm .radio-group {
  position: relative;
  margin-bottom: 25px;
}

#progressMSForm .radio {
  display: inline-block;
  width: 204;
  height: 104;
  border-radius: 0;
  background: lightblue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 2px;
}

#progressMSForm .radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#progressMSForm .radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

#progressMSForm .list-dt:focus {
  border-bottom: 2px solid skyblue;
}

